<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../node_modules/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
    <!--如果是复选框 只有一个复选框的时候，会把这个值转换为boolean类型true代表选中，如下会把a=1转true，a=0转false-->
    <input type="checkbox" v-model="a">{{a}}
    <br/>
    <!--复选框，多选-->
    爱好：<input type="checkbox" v-model="b">游泳 <input type="checkbox" v-model="b">爬山 <input type="checkbox"> 睡觉
    <!--假如绑定了b 取消一个全部都会选中 选中一个全都都会选中 这并不是多选效果，
    多个的话不应该放boolean类型，要为它们每个起个value属性-->
    爱好：<input type="checkbox" v-model="c" value="游泳">游泳 <input type="checkbox" v-model="c" value="爬山">爬山 <input
        type="checkbox" v-model="c" value="睡觉"> 睡觉
    {{c}}
    <!--总结：如果是多个checkbox，要增加value属性 并且数据类型是数组-->
</div>
<script>

    let vm = new Vue({
        el: '#app',//
        data: {
            a: 0,
            b: true,
            c: []//
        }
    })
</script>
</body>
</html>